// .container-back {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: linear-gradient(135deg, #6b7b8c, #d7e3ff);
// }

// mat-card {
//     max-width: 500px;
//     width: 100%;
//     padding: 30px;
//     background: #fff;
//     border-radius: 8px;
//     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
// }
// mat-card-title{
//     text-align: center;
//     font-size: 24px;
//     margin-bottom: 20px;
// }

// form{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// mat-form-field{
//     width: 100%;
//     margin-bottom: 20px;
// }

// button{
//     width: 100%;
// }

// @media screen and (max-width: 500px) {
//     mat-card-title{
//         font-size: 20px;
//     }

//     mat-form-field{
//         margin-bottom: 10px;
//     }
// }

// .error-snackbar{
//     background-color: #f4436f !important;
// }

.to-blue-500 {
    --tw-gradient-to: #232f43 var(--tw-gradient-to-position) !important;
}

.from-green-400 {
    --tw-gradient-from: #333f37 var(--tw-gradient-from-position) !important;
    --tw-gradient-to: rgb(74 222 128 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}