<app-navbar></app-navbar>
<div class="nav-container" color="primary">
  <div class="nav-align">
    <h1 class="margin-h1">E-Commerce</h1>
    <h3 class="margin-h2">Material Design components for Angular</h3>
  </div>
</div>
<main class="docs-homepage-promo">
  <div class="card-cantainer">
    <div class="docs-homepage-row-column">
      <h2>Shop Now</h2>
      <p>This is a demo application for developement purpose</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cumque exercitationem voluptatem cupiditate id,
        illum sint qui reiciendis veniam tempora nostrum autem neque excepturi distinctio ea modi labore eligendi
        accusamus!</p>
    </div>

    <div class="docs-homepage-row-column">
      <h2>Shop Now</h2>
      <p>This is a demo application for developement purpose</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, at quasi. Esse expedita dignissimos fugiat
        eaque iure quos, excepturi molestiae reiciendis suscipit assumenda sit deleniti ratione laborum maiores vero
        aliquam?</p>
    </div>

    <div class="docs-homepage-row-column">
      <h2>Shop Now</h2>
      <p>This is a demo application for developement purpose</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, at quasi. Esse expedita dignissimos fugiat
        eaque iure quos, excepturi molestiae reiciendis suscipit assumenda sit deleniti ratione laborum maiores vero
        aliquam?</p>
    </div>
  </div>
  <mat-divider class="separator"></mat-divider>
  <div class="card-cantainer">
    <mat-card class="example-card" appearance="outlined" layout-align="center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined" layout-align="center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined" layout-align="center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>