<app-navbar></app-navbar>
<div class="container nav-container" color="primary">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vero quibusdam error aliquam ullam ducimus omnis ut autem repellendus non, deleniti veritatis natus enim consequuntur nostrum neque expedita laborum. Odit.</p>

</div>

<div class="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repellat placeat amet accusamus commodi libero quisquam architecto consequatur deleniti, id reiciendis! Labore quaerat quos consectetur omnis. Eius quibusdam veniam impedit?</p>
    <div class="container">
    <mat-card class="example-card" appearance="outlined" layout-align="center">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

        <mat-card class="example-card" appearance="outlined" layout-align="center">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
</div>

